@import "tailwindcss";



/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d4d4d8;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
}